/* Accordian */
/* hidden dropdown menu */
.accordion .nav-item ul { 
    display:none; 
    transition: 1s;
}

/* When targeted, change nav link background */
.accordion .nav-item:target a { 
    background: #33475A; 
    color: #FFF;
}
.accordion .nav-item:target { 
    background: #D3F4FF;
}

.accordion .nav-item:target ul {
    display:flex;
    flex-flow: column;
    justify-content: flex-start;
    text-align: left;
    background: #FFF;
    border: #33475A solid 2px;

    position: absolute;
    z-index: 100;
    top: 35px;
    width: inherit;
    animation: fadeIn 1s;
}

.accordion .nav-item:target ul li{
    color: #33475A;
    font-style: italic;
    padding: 2rem;
}

.accordion .nav-item:target ul li:has(a){
    color: #041C2C;
    font-style: normal;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}