/* General Styles for All pages */
@import "reset.css";
@import "./vanilla/accordion.css";
@import "./vanilla/carousel.css";

/* Palette
Accents: #E59D23

Primary: #041C2C
Secondary: #33475A
Tertiary: #D3F4FF
*/

body {
    background-color: #FFF;
    font-size: 18px;
    color: #041C2C;
}

main {
    padding-top: 3rem;
    background: rgb(211,244,255);
    background: linear-gradient(180deg, rgba(211,244,255,1) 0%, rgba(0,212,255,1) 100%);
}

nav {
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
}

a, 
.nav-item ul a {
    text-decoration: none;
    color: #041C2C;
    transition: .3s;
}

h1{
    font-size: 3rem;
    text-align: center;
    padding: 1.5rem;
}

h2{
    font-size: 2rem;
    padding: .5rem 0;
}

footer{
    background-color: #00d4ff;
    background: linear-gradient(180deg, #00d4ff 0%, #D3F4FF 100%);
    padding: 2rem;
}

/* Nav */
.nav-item {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    text-align: center;
    position: relative;
    background-color: #D3F4FF;
}

.nav-item > a {
    padding: 18px;
    position: relative;
    z-index: 5;
}

.nav-item ul li{
    transition: .2s;
}

.nav-item ul li:hover {
    background-color: #d3f4ff;
    cursor: pointer;
}

.nav-item:hover > a{
    background-color: #33475A;
    cursor: pointer;
    color: #FFF;
}



.recipe-idea{
    font-weight: 600;
    color: coral;
}
